.profile__about {
    margin: 0;
    max-width: 295px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    text-overflow: ellipsis;
    
}
@media screen and (max-width: 760px) {
    .profile__about {
        margin: auto;
        grid-column: 1/3;
        
    }
}
@media screen and (max-width: 475px) {
    .profile__about  {
        max-width: 200px;
        font-size: 14px;
    }
}
