.profile__image {
    object-fit: cover;
    max-width: 120px;
    width: 100%;
    height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 760px) {
    .profile__image {
        margin: auto;
        margin-bottom: 14px;
    }
}

